[2012-12-07 16:48] boxxxie opened #6 "no main in package.json"
i can't do `require("q-io")`

[2012-12-07 17:32] kriskowal commented on #6
Q-IO does not have a main module. Reach in for `q-io/fs`, `q-io/http`, `q-io/http-apps`. I will refile this as a documentation issue.

[2012-12-07 17:32] #6 closed, assigned to nobody

[2012-12-07 17:33] kriskowal opened #7 "Document that there is no main module"
Per #6, there is an expectation that q-io exports a main module. Update the documentation to make it more clear that there is no main module, and the names of the public modules in the Q-IO namespace, `q-io/fs`, `q-io/http`, and `q-io/http-apps`.

[2012-12-08 16:42] boxxxie commented on #7
this seems very weird.
would you accept PRs with a main + file that exposes all of the Q libs?

also would you be able to point me in the direction of example uses of Q-http-app?

[2012-12-08 22:13] kriskowal commented on #7
Thank you, but no. I would prefer to encourage folks to load only the modules they are likely to need. The Node `fs` and `http` modules are separate, so by analogy, these wrappers are separate.

HTTP Apps were originally in a [separate repository](https://github.com/kriskowal/jaque#readme). I’ll migrate the documentation over.

I wrote a routing library based on Q HTTP apps called [Joey](https://g

[2012-12-08 23:30] boxxxie commented on #7
can you give me an example of how i would load the http module without writing my own main file?

am i supposed to do something like require('./node_modules/q-io/http.js')?

[2012-12-08 23:37] kriskowal commented on #7
In your module:

[code]

And in your `package.json`:

[code]

[2012-12-08 23:45] boxxxie opened #8 "HTTP POST w/ body troubles"
I can do a post without a body, ei, basic auth. when i add a body i run into lots of problems (post stalls, or doesn't get sent or get's sent but doesn't make sense)

[code]

the body in the above code causes this request to stall, it doesn't get sent at all. when i comment out the body eveything is ok.

looking in the Qhttp code i see that that body needs a forEach. however i'm not sure if Q.when

[2012-12-08 23:51] kriskowal commented on #8
I’ll write up a test case and see what the problem is. The array is the preferred output, but I might adjust normalizeRequest and normalizeResponse to accept a string.

[2012-12-08 23:54] boxxxie commented on #7
oh wow, i didn't know i could do that!

[2012-12-14 00:13] Stuk opened #10 "relativeFromDirectory doesn't like trailing slashes"
`FS.relativeFromDirectory("/a/b/", "/a/b")`
Expected:
        ""
          Actual:
        ".."

See tests in #9

[2012-12-31 16:45] karlwestin commented on #8
Hi, i've been looking at a similar thing, you'll need to use a `"Content-Type": "application-/x-www-form-urlencoded"` header.
this worked:

[code]

[2012-12-31 17:40] francoisfrisch opened #13 "[fs-mock] Mock.move shouldn't move source into target, if target is a directory."
Mock.move moves the source node into the target node if the target node is a directory. This doesn't match the real fs implementation that uses FS.rename .

In this case, Mock.move should move all the contents of source into target.

[2012-12-31 17:42] francoisfrisch commented on #13
Alternatively, we could also file a bug against the q-io move since it probably shouldn't mimic all of the behaviors of  FS.rename .

[2012-12-31 17:51] francoisfrisch opened #14 "[fs-mock] Mock.move shouldn't delete the source node if source === target"
Mock.move always deletes the source node. this shouldn't happen if they are the same thing since that deletes the target also.

 if source === target , Mock.move should just return early.

[2012-12-31 18:54] francoisfrisch opened #15 "[fs-mock] MockFs.makeDirectory shouldn't throw if the directory exists"
The real implementation of makeDirectory rejects the promise with a reason code of "EEXIST" the mock throws.

This breaks MockFs.makeTree if some of the path already exists.

[2012-12-31 19:07] kriskowal commented on #7
Documented.

[2012-12-31 19:07] #7 closed, assigned to kriskowal

[2012-12-31 19:15] kriskowal commented on #13
I’ve never liked clever "move" implementations. My thought is that both `fs` and `fs-mock` should move a single file or directory such that it becomes available at the target path, or die trying. It should not move multiple files from one directory to another, nor should it put a file inside a target directory.  If the target exists, regardless of type, it should fail.

Unless I’m mistaken, neithe

[2012-12-31 19:17] kriskowal commented on #15
This is a bug in MockFs.makeTree. makeDirectory should fail if the target directory already exists.

[2012-12-31 19:20] francoisfrisch commented on #15
copyTree also uses makeDirectory, there may be a problem there too.

[2012-12-31 19:20] kriskowal commented on #15
What’s the expected behavior of copyTree if the target already exists? I think it should fail.

[2012-12-31 19:25] francoisfrisch commented on #15
If copyTree fails if the target exists that would be consistent with the proposed makeTree behavior.

[2012-12-31 19:28] francoisfrisch commented on #15
Sorry go that wrong was referring to the changes to move #13

[2012-12-31 19:42] #15 closed, assigned to nobody

[2012-12-31 20:46] #14 closed, assigned to nobody

[2012-12-31 21:38] #13 closed, assigned to nobody

[2012-12-31 21:52] #10 closed, assigned to nobody

[2012-12-31 21:52] kriskowal commented on #8
@boxxxie can you verify and close?

[2012-12-31 21:54] #8 closed, assigned to nobody

[2012-12-31 21:55] kriskowal commented on #8
Thanks!

[2012-12-31 21:58] boxxxie commented on #8
I'm not on nodejs anymore so I can't easily confirm. However if your code works then that would be really helpful for people like me building multi system applications.

[2013-01-02 19:06] francoisfrisch opened #18 "MockFs.move inconsistency"
Given and existing directory _myDirectory_
Doing

[code]

will throw "Can't move over existing entry myDirectory"
where as doing

[code]

will succeed.

I'm unsure which one is correct. The fs behavior is strictly correct and might catch potential errors earlier but the mock behavior is much more convenient!

I tried simply removing the equality checks @ line 271 and 303 but it cause some test fai

[2013-01-06 17:31] #18 closed, assigned to nobody

[2013-01-06 17:31] kriskowal commented on #18
Thanks, François, fixed in patch version 1.5.2.

[2013-01-25 05:01] kriskowal opened #19 "Need FS.walk(path, cb)"
Need an FS.walk(path, cb) to permit a file system traversal to stream results. It will need to specifically use Q.fcall to send a message to a remote promise.

[2013-01-25 05:01] kriskowal commented on #19
ht @mczepiel

[2013-01-29 06:12] francoisfrisch opened #23 "[fs-mock] Mock should be able to mock a Windows file system."
I'd like the Mock function to set the _root property appropriately https://github.com/kriskowal/q-io/blob/master/fs-mock.js#L15 and q-io/fs.root() should be coordinated.

This would be useful to get some test coverage for montagejs/minit#23

[2013-01-29 06:13] kriskowal commented on #23
Ah, good thought.

[2013-02-06 06:04] Stuk opened #24 "qfs.root() returns "" on Mac"
and probably on Linux too.

I think https://github.com/kriskowal/q-io/blob/master/fs-boot.js#L174 is causing the problem

[code]

[2013-03-19 19:05] scf2k opened #27 "lastModified() generates an unhandled rejected promise warning"
`lastModified()` generates an unhandled rejected promise warning on program exist nevertheless the call has `.fail()` handler. Example to reproduce:

[code]

[2013-03-20 04:58] Stuk commented on #27
What do you expect to happen?

It seems to me that this is expected behaviour, although the spec doesn't say what should be done if the file does not exist http://wiki.commonjs.org/wiki/Filesystem/A/0#Attributes

[2013-03-20 10:18] scf2k commented on #27
The problem is that I catch the error (with fail). But when application exits Q dumps a bunch of warnings that those rejected promises were NOT handled.

[2013-03-20 13:20] arikon commented on #27
@scf2k Should move this issues to `q`

[2013-03-20 13:26] scf2k commented on #27
moved https://github.com/kriskowal/q/issues/238

[2013-03-20 13:26] #27 closed, assigned to nobody

[2013-03-20 16:10] Stuk commented on #27
Ah I see, sorry, misread it. Yep, Q is the best place for this.

[2013-03-30 13:03] danielfagerstrom opened #29 "Cannot serve binaries with Apps.file"
When I try to serve images with `Apps.file` they are encoded with UTF-8 (and stops being images).

This is because `FS.open` is called without flags or charset: https://github.com/kriskowal/q-io/blob/master/http-apps/fs.js#L128 and the default behavior for `FS.open` is to use charset UTF-8 when no flags are set https://github.com/kriskowal/q-io/blob/master/fs.js#L79 which in turn makes the reader

[2013-03-30 16:12] kriskowal commented on #29
Thanks, looking into this now.

[2013-03-30 16:28] #29 closed, assigned to nobody

[2013-04-24 08:50] wmertens commented on #8
I had to do something like (coffeescript)

[code]

It would be nice if q-io could include some sugar to make form passing easy... A project like https://github.com/mikeal/request is of course a lot more complete but how about something like adding a `form` key to a request that will convert into the body and headers as above? That's only a few lines of code... Likewise a readJson would be nice?

[2013-05-11 01:30] neerolyte opened #31 "rerooted FS missing some functions"
I'm not sure if I'm doing it wrong (an example in the docs would be great), but when I simply `reroot()` a FS the rerooted version is missing some functions, e.g.:

[code]

produces:

[code]

This causes problems in places because if I call `makeTree()` on a rerooted FS it fails because it will eventually call `this.makeDirectory()` internally (which isn't a function).

So am I doing something wro

[2013-05-11 01:45] kriskowal commented on #31
It’s a bug, thanks.

[2013-05-11 01:51] #31 closed, assigned to nobody

[2013-05-11 01:51] kriskowal commented on #31
You might check again and please let me know if you encounter further missing methods.

[2013-06-19 15:47] wmertens opened #34 "Json http app fails, missing reference to ok"
It seems that the split into separate files caused https://github.com/kriskowal/q-io/blob/master/http-apps/json.js#L57 to refer to an `exports.ok` function that no longer is in the same module.

Possible solutions:
- move json.js together with content.js
- duplicate the ok() code in json.js
- `exports.ok = require('./content.js').ok` in json.js

[2013-06-19 18:40] #34 closed, assigned to nobody

[2013-06-22 22:46] kriskowal opened #38 "FS.move and FS.rename"
We currently expose the low level system call `rename(2)` as `move`. This does not move over file systems. The current implementation should be renamed to `rename` and a `move` command created composing `copyTree` and `removeTree`, perhaps only if rename fails because of a device boundary.

Re montagejs/minit#42

[2013-06-22 23:29] #38 closed, assigned to nobody

[2013-06-25 11:39] dcolens opened #39 "q-io/http should emit progress events"
When starting a http transfer if size is available, it would be nice that it emits progress events, if size is not available it could still emit a 100% event ?

Not really sure what is the best way to tackle this because it would only work if size is known but it would be very handy.

PS: on a side-note, it would also be nice to add https://groups.google.com/forum/#!forum/q-continuum to q-io's doc

[2013-06-25 17:59] kriskowal commented on #39
Both good ideas.

[2013-07-04 15:52] wmertens opened #40 "Reader does not include `node`"
The docs say that the Node.JS Stream is available on the Reader and Writer objects as the node attribute, but they don't have that.

It would be really nice if the Reader and Writer could be drop-in supersets of the Node 0.10 streams. I think it would only mean renaming read() to slurp() and exposing the underlying Stream methods as well as the JSGI forEach() and Q .next() methods.

(Actually, per

[2013-07-10 18:28] kriskowal commented on #40
The underlying stream implementation has changed since I wrote Q-IO’s Reader and Writer wrappers. They really need to be rewritten to use promises to provide the back-pressure signal Node now understands. I also just added promise streams to Q, so this might be an opportunity to consolidate some functionality.

[2013-07-31 13:48] doapp-ryanp opened #42 "http.request() support socket pooling configuration?"
Is there a way to control [socket pooling](http://nodejs.org/docs/latest/api/http.html#http_class_http_agent) via http.request()?

Will it just inherit nodejs' global http.agent config? Ex:
`require('http').globalAgent.maxSockets = 10;`

Somewhat related question - are there any "official" code examples of using `require("q-io/http").request`?

thanks for this and [Q](https://github.com/kriskowal/

[2013-08-02 14:39] doapp-ryanp commented on #42
From what I can tell it uses the [global agent](http://nodejs.org/api/http.html#http_http_request_options_callback) because it does not specify the `agent` attribute: https://github.com/kriskowal/q-io/blob/master/http.js#L278

I'm fine with this, but my guess is others may want to control the agent on a request by request basis, so this issue could probably turn into a feature request.

[2013-08-09 18:23] wmertens commented on #40
So what is the new project you moved promise streams to and how happy are
you with it?
On Jul 10, 2013 8:34 PM, "Kris Kowal" notifications@github.com wrote:

[2013-08-11 18:21] dhbaird opened #44 "Feature: Make q-io/fs more graceful (workaround EMFILE errors)"
I would like to request consideration of using [graceful-fs](https://github.com/isaacs/node-graceful-fs) rather than fs, in particular to avoid EMFILE errors like [this one](http://stackoverflow.com/questions/8965606/node-and-error-emfile-too-many-open-files).

Here is one thought about how to implement this:

[code]

Alternatively, would it be feasible to implement "graceful" functionality direct

[2013-08-11 19:07] kriskowal commented on #44
We could add retry options to "open".

[2013-08-12 00:49] dhbaird commented on #44
Hey, I just pulled this little gem out of q-io/fs.js, and it is already applied to readdir and open. How about that? Awesome :) I think that closes this ticket for now.

[code]

[2013-08-12 00:49] #44 closed, assigned to nobody

[2013-08-12 16:10] kriskowal commented on #40
I have not factored it out of the Q "streams" branch yet. It will likely
end up in this repository.

[2013-08-12 17:40] kriskowal commented on #44
Oh, right, I already did it!

[2013-08-12 23:05] dhbaird opened #45 "listTree performance"
I noticed that listTree() was going slower than I expected for large numbers of files. Therefore, I decided to do some benchmarks to narrow down the slow down. As a result, it looks like an opportunity exists to close a performance gap in either Q or Q-IO. Performance becomes very noticeably affected in the benchmark code with Node-style callbacks versus Q promises, and therefore, that may be a go

[2013-08-12 23:11] kriskowal commented on #45
`listTree` has a conceptual problem since it produces a promise for an array. My hope is to replace that with a promise for a Q stream in a future release—perhaps under a different name to retain backward compatibility—or a promise for completion and just use the guard emitter for streaming purposes.

[2013-08-12 23:33] dhbaird commented on #45
That sounds pretty cool @ Q streams. In a particular case that I am working on, I need stat results on all files to check their mtimes, and so it is no problem if I get the entire array all at once; (The only problem is that after I listTree(), then I have to run stat() on all the paths. It sounds like Q streams or the guard emitter might help with that... but that's a separate issue from this.)

[2013-08-12 23:36] kriskowal commented on #45
The guard function can already do what you need, I think.

[code]

[2013-08-12 23:45] dhbaird commented on #45
That's a cool trick with guard. Looks like this would do the trick of snarfing the stats:

[code]

But this doesn't address the speed gap of using Q.

The issue here is how long it takes listTree() to finish. The fact that it collects a list isn't really a problem. Using Q on stat and readdir inside of listTree is the primary cause of the slow down. I can rewrite listTree() to internally not use p

[2013-08-12 23:47] kriskowal commented on #45
@dhbaird I presume that the problem is recursive array aggregation. It might be faster to pass a single array forward and push results onto it instead of concatenating results from `all`. Of course, `listTree` may lose some of the clarity in the process.

[2013-08-12 23:57] dhbaird commented on #45
I thought recursive array aggregation might have been a problem too, but take a look at `asyncFindTree()`. It uses recursive array aggregation (see its nested `checkCompletion()` function). And it's fast.

When you get a moment, could you take a look at the following: `asyncFindTree()` and `asyncFindTreeQstat()`. The difference in code is very small: a single `Q.nfcall()` is added, and that result

[2013-08-13 00:00] dhbaird commented on #45
(Note - I edited previous comment to include diff)

[2013-08-13 00:28] #40 closed, assigned to nobody

[2013-08-13 20:06] kriskowal commented on #45
@dhbaird That is very curious. `nfcall` does do some extra work in this case, coercing `FS.stat` to a promise for `FS.stat`, manipulating the arguments, sending the `apply` message to that promise, but I would not expect it to dominate the performance like that. You might try using Q.nfbind instead of Q.nfcall to cache the node-ified function in the parent scope to see whether that makes a differe

[2013-08-13 21:02] dhbaird commented on #45
@kriskowal something like this?

[code]

Good idea, but performance remains about the same.

[2013-08-13 21:17] kriskowal commented on #45
Weirder and weirder.

I am going to have to let this issue idle for a while, but if you send a PR that helps the issue without impacting the API, I can get a patch out quickly. If it requires an API change, I can entertain a proposal as well.

[2013-08-13 21:22] dhbaird commented on #45
Sounds good to me. I just wanted to get the word out, and I'm happy if you want to close this and re-open it later. I'll keep looking into it.

[2013-08-31 12:51] neonstalwart commented on #42
in a similar vane, a [knox](https://github.com/LearnBoost/knox) client provides a similar interface to node's http client but adds an additional layer of logic to make it easier to work with amazon's s3.  i've been wrapping that client to use q-io/reader and q-io/writer on the requests and responses and i'd like to see something within q-io/http that would take care of that for me.  it's essential

[2013-08-31 13:02] neonstalwart commented on #42
sorry... one more thought - i guess a more complete API would expose q-io/http.IncomingMessage as well.

[2013-09-02 12:47] noppsen opened #48 "move(src,tar) does not work between network shares"
You have to manually replace
  move(src, tar)
by
  copyTree(src, tar)
  removeTree(src, tar)
since you are intended to use it with different network shares.

best regards and thanks

-------occurrence------------
- windows 7
- node 0.8

[2013-09-05 23:26] cadorn opened #49 "Proxy-fs"
I want to be able to instanciate a _proxy_ fs where the proxy loads and caches all lower level FS data as methods are called on the proxy object.

I want to then serialize the proxy data to a file and later instanciate a mock-fs object with it.

The idea is that I can pass a virtual FS object to a library, record all FS data needed while library executes and on second run feed the cached FS to the

[2013-09-05 23:36] kriskowal commented on #49
@cadorn It would be very similar to `fs-mock` https://github.com/kriskowal/q-io/blob/master/fs-mock.js. It would be fine in a separate package or even here. You will find that it would be cohesive with a bunch of the Q-IO internals.

[2013-09-20 22:31] Bartvds opened #52 "Empty file in FS.stat or FS.read directly after FS.write"
I have a weird case where a FS.write succeeds but the next FS.stat or FS.read on that file return zero-size (or empty file content). When I open the file in my editor I do see the expected content.

Of course usually you wouldn't read same file instantly after you write it but this happens in my unit tests.

This only happens if the call to FS.stat or FS.read is very close behind the FS.write.

If

[2013-09-20 22:38] kriskowal commented on #52
There’s no Stat cache in Q-IO; we call into Node.js directly and just wrap `stat` with a promise. I find it unlikely that Node.js has a cache either. However, if there were a cache at either layer, I think you could expect the stat to be up-to-date immediately (having been found in the cache), and the new problem would be how to invalidate that cache if another process changes the file system. We

[2013-09-20 23:03] Bartvds commented on #52
Thanks for the info.

I'm on windows which has the occasional issue with node so it is hard to be 100% sure it is my own code or not (what I'm doing looks so simple...  :)

But at least we can assume the problem is not in q-io. I'll close this for now.

[2013-09-20 23:03] #52 closed, assigned to nobody

[2013-10-16 18:11] JPGygax68 opened #58 "Reader.forEach() does not support thisp"
The signature of Reader.forEach() is not consistent with the same method in the BufferStream class. The latter supports a second argument "thisp", the former does not.

[2013-10-16 19:41] kriskowal commented on #58
Thanks, @JPGygax68. This should be addressed in #57, which is pending on issues with paused readers and closing servers.

[2013-10-30 15:13] scf2k opened #59 "Writer.write() relies on the fact that stream.wirte() call is synchronous"
The `Writer.write()` method calls `stream.write()` as it is synchronous. This is true for `node 0.8`, but it's not for `0.10`. It expects a callback which is called when the data is flushed.

As result with `node 0.10` `QFS.write()` could resolve before file is actually written.

[2013-10-30 19:23] kriskowal commented on #59
We may have addressed this in the most recent release, v1.10.2. Can you attempt to verify?

https://github.com/kriskowal/q-io/commit/a151a46df326d13c74e8a06b6e2a9727e57ae014

[2013-10-30 20:20] arikon commented on #59
@kriskowal `Writable.write()` still returns resolved promise just after sync call to `stream.write()`.

https://github.com/kriskowal/q-io/blob/a151a46df326d13c74e8a06b6e2a9727e57ae014/writer.js#L55-59

[2013-10-30 20:22] kriskowal commented on #59
Ah. Need a PR for that then. And that fix needs to be applied to the streams branch as well, which I will land soon.

[2013-10-30 20:32] kriskowal commented on #49
@cadorn Have you moved on this, or is it something you’re still looking for?

[2013-10-30 20:33] arikon commented on #59
@kriskowal I'm sorry. `fs.write()` returns the promise of `stream.close()`, and commit you pointed to fixes `stream.close()`. So it should be fixed now. We'll check.

[2013-10-31 01:02] cadorn commented on #49
Not yet.

I have started some work on shadowing FS calls so you can get events for paths being used: https://github.com/pinf/pinf-for-nodejs/blob/9f31624eeb4aecbd819893c55872a602f2b00389/lib/vfs.js

I'll be combining `shadow-fs` with a `proxy-fs` and another proxy I already have for HTTP[S] requests. The goal is to record all assets used by a package during build and at runtime. All this should ha

[2013-10-31 01:04] cadorn commented on #49
The well-tested HTTP[S] caching proxy is here: https://github.com/sourcemint/util-js/blob/master/lib/url-proxy-cache.js
It works by keeping an additional meta file per URI. I hope to use the same approach for `proxy-fs` and re-use the same cache logic.

[2013-10-31 10:13] scf2k commented on #59
Seems to work with 1.10.2.

[2013-10-31 10:13] #59 closed, assigned to nobody

[2013-11-05 05:18] cerebrl commented on #8
From what I can tell, this is still very much an issue. It took me hours to realize that any truthy value in the body of the request fails, except for an array. Unfortunately, the receiving end of the request has no body, so the array value is not being passed through. This should be documented somewhere, please! I can't count how many hours I've wasted trying to debug this :(

[2013-11-05 05:41] kriskowal commented on #8
@cerebrl Can you confirm that the problem was that you passed a string for a request body instead of an array? I will consider fixing that. I definitely intend to produce better documentation. The stuff I have is far too rough and it looks like the users are coming.

[2013-11-05 05:43] cerebrl commented on #8
Hey Kris! Thanks for the quick reply. The request does go through if I pass an array into the body. But, on the receiving end of the request, `req.body` is `undefined`. I don't know what happens to the array, but it never shows up on the other side [shrugs]

[2013-11-05 05:45] kriskowal commented on #8
@cerebrl That is curious. Can you send me a gist or more details about the scenario. Are your client and server both Node.js processes?

[2013-11-05 05:47] cerebrl commented on #8
I'll try to write you up a gist tomorrow. It's getting a bit late tonight :) Thanks!

[2013-11-05 05:48] kriskowal commented on #8
I’ll be here. Thanks!

[2013-11-05 06:13] cerebrl commented on #8
Well, I couldn't help myself: https://gist.github.com/cerebrl/7314665

Let me know if I'm doing something wrong here or if you have any questions.

[2013-11-05 06:20] kriskowal commented on #8
Thanks, that’s insightful.

[2013-11-09 12:56] OliverJAsh commented on #8
The reason it does not error if the body is not an instance of `Array` is because there was a [missing end to a promise chain](https://github.com/kriskowal/q-io/pull/64/files).

[2013-11-13 00:38] ghost opened #65 "proposed change to copyTree() to allow pre-existing target directories"
The CommonJS/Fileystem/A spec is vague about various behavior (unless there's standard expected behavior I'm not aware of), but having copyTree() fail because makeDirectory() fails due to an existing target directory, seems unfortunate and inconsistent with the behavior at the file level, which just overwrites existing target files (as long as they're writable).

I propose changing copyTree() to a

[2013-11-13 01:01] basteln3rk opened #66 "HTTP does not handle non-utf8 charsets"
I encountered some issues trying to use q-io/http as a client of sites using latin1 character set:
1. The documentation of the `charset` option is ambiguous in the context of http client. It could mean
   a. either the character set in which the response body will be returned (possibly after `iconv`) or
   b. the character set used by the server as the response (this seems to be implicitly the int

[2013-11-13 01:09] basteln3rk commented on #66
To illustrate the issue, add the following to `spec/http/basic-spec.js`:

[code]

[2013-11-13 01:09] kriskowal commented on #66
This problem lies with Node’s limited support for encodings.

https://github.com/joyent/node/blob/9b4aa355e3817f5c5a8c5e5c78b92ce43db72f45/lib/buffer.js#L121-L139

Q-IO should definitely complain loudly if the charset is not supported. I also wouldn’t mind entraining `iconv` to broaden the options, or at least provide an interface for piping through an `iconv` transcoder.

[2013-11-13 01:27] basteln3rk commented on #66
Bummer. I use a somewhat cumbersome workaround, which also provides for missing content compression functionality:

[code]

Which can then be used as follows:

[code]

Maybe something like this could be adapted for `q-io/http`?

[2013-11-13 01:33] kriskowal commented on #66
@basteln3rk Yes, we could definitely bring something like that into Q-IO. We could probably also support streaming for both, to take advantage of idle between chunks.

[2013-11-15 00:54] Stuk opened #67 "Cookie.stringify should not urlencode the Path"
Browsers ignore it when urlencoded

[2013-11-18 16:21] joe-spanning opened #68 "How can I copy a stream using promises?"
I have a readable stream that I would normally pipe into a writable stream.

[code]

How can I achieve the same "copying" of streams using q-io?

[2013-11-18 18:49] kriskowal commented on #68
There is a `readable.copy` method coming with promise streams in the next major release. In the interim, however, this should do the job:

[code]

[2013-11-19 08:11] ghost commented on #65
Clearly I failed to link this properly to the pull request. Not sure how. Closing manually as it was assigned to issue #69.

[2013-11-19 08:11] #65 closed, assigned to nobody

[2013-11-19 08:45] ghost opened #70 "open() and copy() misbehave if the destination file is readonly"
This seems to be happening because Writer(), in writer.js, is returning Q(self) instead of a deferred 'begin' promise, as Reader() does.

If I amend Writer, as below, using the open event, then it will work correctly for both writable and non-writable files (unit-tests pass). However, as far as I am aware HTTP streams do not emit the open event, so I'm not sure if this "fix" is the correct approac

[2013-11-27 12:25] kornelski opened #71 "Undefnied agent causes error in node's HTTP module"
HTTP `read()` function fails when given string URLs:

[code]

This may be because node doesn't handle `undefined` agent:

[code]

Node v0.11.9 on OS X (via homebrew), q-io 1.10.6.

[2013-11-27 17:48] kriskowal commented on #71
I saw this when trying out the unstable branch, but backed away slowly. I’m not sure whether this is an API change or a regression. Will have to compare notes with the good folks on joyent/node.

[2013-12-03 14:05] wmertens opened #72 "Confused about json apps"
There are HandleJsonResponse(s), Json and json http apps, and it's unclear how they should be used.

`this.GET('foo').json().app(gimmeAnObject)` stringifies and ok's but it doesn't add the json mime type. `handleJsonResponse` stringifies and adds the mime type but doesn't ok.

Tell me how it should be done and I'll fix the doc.

[2013-12-11 03:43] kriskowal opened #73 "Canonical should accept non-existing paths"
The reroot implementation assumes that canonical will expand any symbolic links along a path, but will just normalize any trailing terms that do not exist.

Canonical will need to be reimplemented in terms of lstat and realpath.

Alternately, reroot may need to be reimplemented in terms of the existing canonical. reroot needs to be weary of relative paths that would escape the jail.

[2014-01-03 15:43] surr-name opened #74 "Make HTTP requests cancelable"
There is not presently a way to abort an outstanding HTTP request. This would require a mechanism for canceling a promise, which is not yet supported by Q.

[2014-01-03 16:03] Stuk commented on #74
Afraid not, and looking at the current implementation I'm not sure how it would be supported. Promise cancellation is still up in the air afaik.

[2014-01-03 16:06] Stuk commented on #74
This might not be what you want, but you can pass a promise into `http.request`, and if you reject it the request won't be sent.

[2014-01-03 16:37] kriskowal commented on #74
I am renaming this issue, from “http.request.abort()” to “Make HTTP requests cancelable”.

[2014-01-03 16:40] surr-name commented on #74
Yes, actually, it was wrong question ( I've seen there is no way to abort request now =), the right one is — how it can be gracefully implemented?
Passing promise instead of requestObject is not a decision — I (and someone else) can want to abort request after it is started, for example for timeout reason, or even after the receiving of a data is started.
One of variants ( it is awful, i know ) ca

[2014-01-03 17:04] kriskowal commented on #74
@surr-name That is approximately what would be necessary, except that we would have to support the promise cancel method at the Q level so it would not be a hack. That unfortunately implies a bunch of other things, see https://github.com/kriskowal/q/pull/61.

[2014-01-03 17:10] kriskowal commented on #74
Pardon, https://github.com/kriskowal/q/issues/64

[2014-01-04 00:16] surr-name commented on #74
In my opinion it is not a global problem of promises, it is a local problem of applying promises to http.request. In any case, how one can access through `canceler` to node's `http.request` what is scoped in `q-io/http.request` to invoke abort(), setTimeout() or somethingElse() ?

[2014-01-04 00:26] kriskowal commented on #74
Again, ideally, `promise.timeout()` would compose well by calling `promise.cancel()` if the timeout elapses. It does not. We could thread a "timeout" property in the request argument, e.g., `request({url: ..., timeout: 5000})`.

`somethingElse` is thankfully bounded by the extent of the Node.js request API surface, so we do not need to come up with an open-ended solution to accessing the underlyin

[2014-01-07 17:27] jsoverson opened #75 "Recommendations for hitting file limit on copyTree?"
I'm not seeing a way to manage a directory copy with `copyTree()` where the number of open files may exceed the OS limit.

If i'm missing something, please let me know.

Is there a way to limit the number of copies happening at once?

[2014-01-07 17:40] kriskowal commented on #75
Oh, that’s interesting. `open` does do an AIMD control on file descriptors, imposing a delay if the open fails due to a file descriptor limit. I presume that’s not working in this case.

[2014-01-07 17:47] jsoverson commented on #75
doesn't seem to be on node 0.10.17 and mac osx 10.8.5, but i will keep poking.

[2014-01-07 17:58] kriskowal commented on #75
It might be that mkdir is producing a different error code, or that my wrapping isn't adding the right properties to the error for the AIMD to catch it.

[2014-01-07 17:59] kriskowal commented on #75
No, looks like `dampen` just looks for `code === "EMFILE"`, which should work for `mkdir`.

[2014-01-07 21:03] jsoverson commented on #75
Yeah, boiling this down to basics doesn't show an issue with q-io. I assumed it was the issue because my use kept failing at the same number of file opens every time.

Closing.

[2014-01-07 21:03] #75 closed, assigned to nobody

[2014-01-07 23:44] jsoverson opened #76 "odd behavior with copyTree"
followup to https://github.com/kriskowal/q-io/issues/75

I put up a repository [here](https://github.com/jsoverson/qiotest) that replicates behavior i'm seeing that I can't track down for the life of me. Every time I try to copy the directory in the reposiroty via copyTree the resulting directory contains only a subset of the files and the promise never seems to fall through to either the fail or

[2014-01-08 02:03] kriskowal commented on #76
Thanks. I’ll give this a shot and trace what's going on.

[2014-01-13 11:57] CakeSpork opened #77 "req.headers.host do not include port number when using q-io('http')"
Hey guys,

I have a problem with q-io/http as I'm sending new request within the requested resource but req.headers.host turns out to be 'localhost' within it instead of 'localhost|:3000'. The request _does_ actually get sent to the correct URL, but the Express request object does not contain the correct headers when it ends up there.

For reference, the behavior does work as expected with require

[2014-01-13 13:03] CakeSpork commented on #77
I've traced the problem to http.js in this line:
request.headers.host = url.hostname; // FIXME name consistency

Seems... there were already people aware before this issue bothered me. Any reason that request.headers.host is not url.host?

[2014-02-05 18:58] NodeGuy opened #81 "MockFS.write doesn't truncate before writing."
Here's a modification to the existing test case which reveals the bug:

[code]

The result:

[code]

[2014-02-05 19:00] kriskowal commented on #81
Awesome, thanks!

[2014-02-08 05:35] jsoverson commented on #76
Any luck reproducing? If you can't reproduce it then i'll close it assuming it's some problem in my environments.

[2014-02-08 05:36] kriskowal commented on #76
No, just haven’t had time to spare.

[2014-02-10 14:02] newtriks commented on #8
I was having similar odd issues when posting JSON data to my Rails based api. I did manage to get it working using the above suggestion `"Content-Type": "application-/x-www-form-urlencoded"`, however, I really wanted to persist and fathom out why the JSON body appeared to be empty.

The solution I found after trial and error, revealed two interesting results which may or maybe not obvious to other

[2014-02-10 18:51] NV opened #82 "q-io/fs's write replaces the content, but q-io/fs-mock's write appends"
[code]

[2014-02-10 18:53] kriskowal commented on #82
Duplicates #81

[2014-02-10 18:53] #82 closed, assigned to nobody

[2014-02-10 19:00] kriskowal commented on #81
Landed in `v1` branch.

[2014-02-10 19:00] #81 closed, assigned to nobody

[2014-03-12 18:42] kornelski commented on #71
Works in v0.11.12

[2014-03-12 18:42] #71 closed, assigned to nobody

[2014-04-06 06:48] andreaspitzer opened #88 "HTTP Basic authentication being ignored when using "username:password@host.com" URL syntax"
Fixed it, PR coming.

[2014-04-06 06:54] kriskowal commented on #88
I look forward to it. Thank you!

[2014-04-09 14:24] sebz commented on #76
I've the same problem when trying to copy a folder containing a hierarchy of 290 folders and 927 files. All folders are copied but only 916 files...

I'll continue to investigate.

[2014-04-09 17:04] kriskowal commented on #76
Thank you.

[2014-04-09 22:49] #88 closed, assigned to nobody

[2014-04-21 16:51] kornelski opened #91 "Specify Q as a peer dependency"
Instead of specifying Q as a regular dependency, if you use [peer dependency](http://blog.nodejs.org/2013/02/07/peer-dependencies/):

[code]

then installation of Q-IO won't install another copy of Q, but will reuse parent project's copy of Q.

This will make versions of promises consistent across Q and Q-IO, avoiding gotcha in https://github.com/kriskowal/q/issues/519

[2014-04-21 17:43] Stuk commented on #91
Strictly Q-IO does depend on Q, and it isn't using the [plugin pattern](http://blog.nodejs.org/2013/02/07/peer-dependencies/) that peerDependencies are recommended for.

To avoid this situation you can use `npm dedupe` to pull all common dependencies up to the top level of `node_modules` (although this doesn't work with [Mr](https://github.com/montagejs/mr), but that just uses one version of each

[2014-04-21 18:09] stefanpenner commented on #91
I believe peerDependencies may become deprecated.

[2014-04-22 15:20] kornelski commented on #91
Oh, bummer.

[2014-04-22 15:20] #91 closed, assigned to nobody

[2014-05-25 20:37] mlito opened #92 "delete with files with wildcard"
Hello
Is there a way for deleting files with wild cards with using q-io ?
Tried remove function but does no seem to support wildcards
Did I missed something ?
Thanks

[2014-05-26 00:58] Stuk commented on #92
All of the functions take a single path. To delete multiple files you will need to iterate through an array of filenames. You can either use [`listTree`](https://github.com/kriskowal/q-io#listtreepath-guardpath-stat) with a guard function to get the list, or if you prefer to use wildcards then a module like [glob](https://www.npmjs.org/package/glob) is appropriate.

[2014-05-26 00:58] #92 closed, assigned to nobody

[2014-05-29 03:52] kriskowal opened #93 "Overhaul Q-IO README and API reference"

[2014-05-29 03:54] kriskowal opened #94 "Create Collections documentation micro-site"
It should be easier to look up what collections implement a method and what methods are implemented by a collection. Create a micro-site that makes it easy to browse in both dimensions.

[2014-05-29 04:02] Stuk commented on #94
I have some ideas and a bit of work towards doing this.

I think the redis command documentation could be a good model http://redis.io/commands

[2014-05-29 04:06] kriskowal commented on #94
@stuk, I can take care of content generation if you would like to take care of bringing it to life.

[2014-05-29 05:21] Stuk commented on #94
Is this issue meant to be on the Collections repo?

[2014-05-29 14:12] kriskowal commented on #94
Thanks. See montagejs/collections#95

[2014-05-29 14:12] #94 closed, assigned to kriskowal

[2014-05-29 16:14] kriskowal commented on #45
I will probably introduce listStream() and listTreeStream() in the v2 branch.

[2014-05-29 16:15] kriskowal opened #95 "Add listTreeStream()"
Provide a streaming version of listTree(), returns a stream of paths to be consumed on demand via a Reader. Implement in v2.

[2014-05-29 16:17] kriskowal commented on #19
See #95. Name is negotiable.

[2014-05-29 16:17] #19 closed, assigned to nobody

[2014-05-29 16:22] kriskowal commented on #42
Q-IO/HTTP request now accepts an "agent" property on the "request". Does that address this socket pooling issue adequately @doapp-ryanp?

@neonstalwart, Can you link a reference or describe what you mean by IncomingMessage? Is this distinct from http.ClientResponse or http.ServerResponse?

Please reopen attn me. Trying to wrangle my task queue.

[2014-05-29 16:22] #42 closed, assigned to nobody

[2014-05-29 16:26] kriskowal commented on #68
I would amend:

[code]

And again, in the v2 branch (which will not be recommended for consumption for a while), the interface is `readable.copy(writable)`, but I will probably introduce pipe methods, either compatible with Node or W3C streams. Would love to coordinate with @domenic on that front. v2 branch is relatively flexible.

[2014-05-29 16:26] #68 closed, assigned to nobody

[2014-05-29 16:28] kriskowal opened #96 "Incorporate iconv"
In v2, I would like to move away from accepting charset options on HTTP requests and file openers, or expand the range of accepted charsets using iconv. Regardless, I would like the internal and external interface for encoding, decoding, and transcoding should be revealed with intermediate streams, establishing a pipe or and pipeThrough convention.

[2014-05-29 16:29] kriskowal commented on #96
See #66.

[2014-05-29 16:30] kriskowal commented on #66
Tracking as #96.

[2014-05-29 16:30] #66 closed, assigned to nobody

[2014-05-29 16:31] kriskowal commented on #58
This is addressed in the v2 branch.

[2014-05-29 16:31] #58 closed, assigned to nobody

[2014-05-29 16:32] kriskowal commented on #39
Q v2 supports time to completion estimates, which compose better than progress notifications. I will have to integrate that with Q-IO HTTP requests, and file read requests.

[2014-05-29 16:34] kriskowal commented on #72
I am tempted to eliminate these middleware and recommend creating application specific middleware, with instructions showing how.

[2014-05-29 16:36] kriskowal commented on #72
I took six months to get back to you on this. I have discovered the Bee issue tracking app, which has made it practical for me to triage all my projects. This is amazing.

Has your offer to help out with the README or docs still open? I could definitely use a lot of help with that in this project. I need to overhaul the README to be a graduated tutorial and move most of its content into either an

[2014-05-29 16:38] kriskowal commented on #48
@noppsen I have addressed this with changes to move and rename, which have been released. Sorry for failing to get back to you. Please reopen if the issue persists.

[2014-05-29 16:38] #48 closed, assigned to nobody

[2014-05-29 17:20] doapp-ryanp commented on #42
@kriskowal yep that does the trick. Thanks!

[2014-05-29 17:30] kriskowal opened #97 "Solve request body copy cancellation problems"
In HTTP server requests, we wrap the response.body with Reader, then copy it to the NodeWriter(nodeRequest) to transfer it to the Node.js stack. This caused problems with hanging connections and processes (particularly our own test processes), if the user does not consume or cancel the request.body.

I made an attempt to address the issue by canceling the pipe, but this was foolish, since it broke

[2014-05-29 18:52] neonstalwart commented on #42
@kriskowal it's been a while since i had my head in the code that caused me to make that comment so i'm kind of fuzzy on what i had in mind but i believe what i was suggesting was a utility for turning http://nodejs.org/api/http.html#http_http_incomingmessage into something based on promises and it's quite possible that q-io/http.ClientResponse is actually already this but now i don't recall if i

[2014-05-29 18:58] kriskowal commented on #42
Ah, thanks @neonstalwart. I think you’ll find that all mostly works, and you can use the `NodeReader(nodeReadable)` and `NodeWriter(nodeWritable)` constructors to create Q-IO streams from Node.js streams. These are in q-io/reader and q-io/writer, but will be in q-io/node/reader and q-io/node/writer in v2 unless something changes.

[2014-05-29 19:19] neonstalwart commented on #42
yes, those are what i used and it worked except for one small thing that didn't work as advertised - writer is missing the `node` property that exists in reader and is also documented as existing so i had to add it myself.

[code]

[2014-05-29 19:21] kriskowal commented on #42
@neonstalwart Thanks, I’ve added writer.node in my working copy. Sorry for missing that.

[2014-05-30 06:18] kriskowal commented on #97
Fixed in v2.0.3. Pending verification that the new Q-IO build will copy files properly from SauceLabs to S3 when orchestrated on TravisCI.

[2014-05-30 15:27] #97 closed, assigned to kriskowal

[2014-05-30 16:08] kriskowal commented on #77
We have fixed this problem in the latest v1 and v2 releases. My apologies for the delay.

[2014-05-30 16:08] #77 closed, assigned to kriskowal

[2014-05-30 21:54] kriskowal commented on #39
Landed progress on reader.read() for HTTP responses and requests in v2.

[2014-05-30 21:57] kriskowal opened #98 "Progress on file reader"
The file reader returned by FS.open should have an observable progress measurement. This would involve a Node.js fstat to get the size and assign it to the stream’s length.

Via #39

[2014-05-30 21:58] kriskowal commented on #39
See #98 for continued development for making progress observable on file streams.

[2014-05-30 21:58] #39 closed, assigned to kriskowal

[2014-06-02 00:43] chrisprobst opened #99 "Http server very slow"
Hi,

I just got into the whole promise/generator issue and tried q-io/http like so:

var http = require("q-io/http");
var Apps = require("q-io/http-apps");

http.Server(function(req, res) {
    return Apps.ok("Hello");
}).listen(8080);

Now I did a very small and simple http benchmark using wrk and boom against:

var http = require('http');
http.createServer(function (req, res) {
  res.writeHead(2

[2014-06-03 09:08] danielecr opened #100 "Q version dependence"
q-io depends on 1.0.1, not 2.0 version, is it outdated? or there are no plan to maintain or some missing "use instead ..." here too?
I just released an ebay trading api library based on it, https://github.com/danielecr/qebayapi , thus my concern.

[2014-06-03 15:20] kriskowal commented on #100
I recommend depending only upon the v1 train of Q-IO, just as I recommend the v1 train of Q, and this recommendation applies to Joey, Collections, Jasminum, Mr, &c. There is a v2 branch of Q-IO that depends on the v2 branch of Q, but it is by no means stable, and I reserve the right to introduce backward compatibilities to any v2 branch until I say otherwise.

I will leave this open to track notes

[2014-06-05 18:32] kriskowal opened #103 "HTTP server does not host files with spaces"
Via @Stuk

[2014-06-05 18:56] kriskowal commented on #99
Just some general thoughts for now.

First and foremost, Q and Q-IO do need some attention regarding performance.
I am beginning to pay attention to speed, but need to develop additional infrastructure to gather meaningful metrics and run performance related experiments.

However, you are right to question the meaningfulness of this speed comparison.
This measures the overhead of using promises an

[2014-06-05 18:56] #99 closed, assigned to nobody

[2014-06-05 21:39] #103 closed, assigned to kriskowal

[2014-06-07 22:50] kriskowal commented on #76
I believe I’ve found the problem. There was a race in copyTree.

https://github.com/kriskowal/q-io/pull/104

Please let me know if this solves your problem, if it no trouble.

[2014-06-07 22:58] #76 closed, assigned to kriskowal

[2014-06-11 22:40] kriskowal commented on #74
Speaking with @erights, it seems that state-of-the-art for this kind of problem is to pass a promise as an optional argument. Rejecting that promise would be a signal that the subscriber would like the operation to be cancelled.

[2014-06-11 23:25] jiggliemon opened #105 "Expose Q through Q-IO"
Q should be accessible through Q-IO.

[code]

This will prevent the user from having a dependency on both the `Q` and `Q-IO` Libraries.

[2014-06-12 23:20] doapp-ryanp commented on #8
@newtriks thanks for the example. FWIW I did not need to set the `Content-Length` header.

[2014-07-09 02:30] crocket opened #109 "Normalize CookieJar requests internally, document normalizeRequest"
request supports it, but there is no documentation about cookies in q-io.

[2014-07-10 14:22] anton-rudeshko commented on #105
**_+1**_ here
You can use a workaround: `var q = require('q-io/node_modules/q')`

[2014-07-10 14:25] anton-rudeshko commented on #100
As far as I can see, [q-io depends on q@0.9.7...](https://github.com/kriskowal/q-io/blob/v1/package.json#L28)
This is not playing nicely with q@1.0.1 and makes me sad. Can we update?

[2014-07-10 14:27] anton-rudeshko commented on #93
Definitely we need more examples

[2014-07-10 17:27] kriskowal commented on #100
@anton-rudeshko Yes, I’ll take care of that.

[2014-07-10 17:27] #100 closed, assigned to nobody

[2014-07-10 18:21] anton-rudeshko commented on #100
Thank you, @kriskowal

[2014-07-11 08:54] bshy522 opened #113 "fs.copyTree why not filter?"
This is a valuable feature.

and, copyTree source Contain hidden files, will fail.

thx.

[2014-07-12 00:23] kriskowal commented on #113
Good idea. Do you mean hidden files in the Windows sense and by fail do you mean throw an exception or ignore the file?

[2014-07-12 06:40] bshy522 commented on #113
it will throw an exception.

[2014-07-12 06:42] bshy522 commented on #113
sorry, This should be two issue.

1, copyTree filter
2, copyTree   source Contain hidden files, will fail.

thx

[2014-07-14 22:25] Stuk commented on #109
Yep, this isn't documented, sorry. You can use the http-apps Chain to create a request function that stores cookies:

[code]

[2014-07-14 22:28] crocket commented on #109
This is more complicated than I thought. Can you make API simpler?

[2014-07-14 22:49] Stuk commented on #109
The need for `normalizeRequest` here is an oversight and shouldn't be needed, otherwise the API is designed to be very composable, which unfortunately does lead to some complexity.

If you don't think you will need the chain then you can just do:

[code]

[2014-07-14 22:53] kriskowal commented on #109
Let’s treat the need for normalizeRequest as a bug with two sides.
1. Need to document HttpApps.Normalize.
2. HttpApps.CookieJar should normalize internally.

[code]

On Mon, Jul 14, 2014 at 3:49 PM, Stuart Knightley notifications@github.com
wrote:

[2014-07-14 22:53] Stuk commented on #109
:+1:

[2014-08-09 07:29] devilankur18 opened #114 "DDOS Security Fix: Upgrade qs to the latest version"
There is need to upgrade the dependency to the latest version

https://blog.liftsecurity.io/2014/08/06/denial-of-service-in-qs

[2014-08-09 17:04] kriskowal commented on #114
Thank you

[2014-08-19 11:42] anton-rudeshko commented on #105
BTW, this is not true, because Q-IO will reuse existing compatible Q if any

[2014-08-31 14:45] mhchen opened #116 "lastModified broken in MockFs"
MockFs nodes are only created with the _modified attribute whereas the lastModified function uses Stats, which relies on wrapping the the mtime attribute (non-existent on mock nodes) with the Date() function. This causes lastModified() to resolve with an Invalid Date

[2014-09-07 02:05] funkjunky opened #117 "What is this buffer I'm getting from the promised return of q-http.read?"
I've been slowly getting a worst and worst headache trying to figure out what to do with this <buffer octat octat octat> I'm getting from the return of this function. I was hoping some string data to be returned, but instead I get this buffer, which doesn't appear to be an object i can do anything with.

From your documentation it says it's supposed to be a response object, but it's not :(
EDIT: I

[2014-09-07 02:13] Stuk commented on #117
I believe it is a Node Buffer. To get a string you can call .toString("utf8") on it.

On September 7, 2014 9:05:18 AM GMT+07:00, Jason McCarrell notifications@github.com wrote:

[2014-09-07 02:22] funkjunky commented on #117
thanks :). Ya just before reading this I decided to try JSON.parse'ing the data and it came out correctly. So I guess it was the correct data, just no wrapped in the correct object. I haven't done a lot of node, but i've done a lot of front-end JS... I suppose this is one of those differences that can screw me =P [Your toString suggestion is perfect for next time, because if there was even the sli

[2014-09-07 03:25] #117 closed, assigned to nobody

[2014-09-11 20:33] kriskowal commented on #116
Thanks for reporting. Will need to address.

[2014-09-11 21:44] #116 closed, assigned to kriskowal

[2014-09-12 00:27] kriskowal commented on #74
If we implement cancelability in Q-IO, we will accept a "canceled" promise as an argument. If we rebuilt something like Q-IO on top of https://github.com/kriskowal/gtor, we would use a Task instead of a Promise, and allow the user to coerce said task to a promise if they chose to attenuate cancelability.

[2014-09-12 03:04] erights commented on #74
From the gtor document it seems you still agree about cancellation promises
-- that a cancellation promise goes in the opposite direction as the
results promise, and that it needs to be passed explicitly because it
composes differently across subgoals than do the results.

However, the end of that document suggests that until WeakRefs are
available, you will use Tasks instead of cancellation promi

[2014-09-12 03:15] kriskowal commented on #74
I am _academically_ interested in exploring the paradigm of Tasks and Promises side-by-side with measured understanding of the limitations of both (GToR) but pragmatically committed to using promises alone (Q, Q-IO, Q-Connection, _id est_ Q*, ECMAScript).

[2014-09-12 03:19] erights commented on #74
That's fine of course. But what is your point about WeakRefs? This answer
still me confused.

On Thu, Sep 11, 2014 at 8:15 PM, Kris Kowal notifications@github.com
wrote:

##

Text by me above is hereby placed in the public domain

  Cheers,
  --MarkM

[2014-09-12 10:51] surr-name commented on #74
I really can't imagine a place of cancelability at Promise's paradigm. Can you draft your vision of it? there is a lot of questions about it:
- what is state of canceled promise
- should there to be a new branch "canceled" at the level of fulfilled/rejected
- what if there are more than one listener
- what should be a behavior when invoking reject or resolve methods of Deferred, when its Promise i

[2014-09-12 12:11] surr-name commented on #74
An example to illustrate my last paragraph:

[code]

[2014-09-12 12:25] surr-name commented on #74
Sorry, if it is wrong place for discussing cancelable promises, but don't you think this way has no direct collisions with Promise A+ spec, unlike cancelablement has? It can resolve the problem with aborting HTTP requests, and a lot of others.

[2014-09-12 17:53] kriskowal commented on #74
@surr-name, sorry for the distraction about cancelable promises. Exposing cancelation was my intuition for the right API for the feature you are suggesting. I am suggesting now that this intuition had fundamental flaws and we will not explore that direction here.

There is a one way communication channel from a resolver to a promise. To abort an HTTP request is to communicate in the other directio

[2014-09-12 19:28] surr-name commented on #74
sounds good, but
there can be scenarios where it is not enough, the way with extra object looks more flexible, for me.

Let me illustrate it with stupid example:

[code]

Do you see any weakness of this pattern?

[2014-09-12 19:44] surr-name commented on #74
The example is really stupid and says nothing about HTTP request, but shows a flexibility.

What about the requests:
the `cancellation` pattern does not answers for multiply listeners question. If `cancellation.promise` is just propagated, what if others listeners still awaiting for a response?

[2014-09-12 23:34] kriskowal commented on #74
Although I do not understand what this example illustrates, I can say without hesitation that we will do nothing that depends on promises being mutable. Promises are designed specifically such that they can be frozen and distributed to mutually suspicious consumers without introducing a covert communication channel or opportunity to interfere between them.

[2014-09-13 12:57] surr-name commented on #74
You're right about the Promises, but the way doesn't affects Promises, it is beside, it is about wide communication channel between a consumer and a producer of some task.

`cancellation promise` pattern solves the problem, but is synthetic, in my opinion. In most cases the promise is always left in pending state, and has no sense in resolved state.

[2014-09-27 08:01] trevorparscal opened #118 "Negotiator HTTP apps do not specify a response argument"
Using a Negotiator HTTP App, like ContentType, fails because of a missing argument in the method signature of the returned application function.

[2014-09-28 17:09] #118 closed, assigned to nobody

[2014-09-30 06:51] trevorparscal commented on #118
I'm noticing a lot of cases in the code, especially as I try and use it, where request and response are listed in reverse order, or only response is listed causing essentially the same issue. Are you open to pull-requests that correct these many inconsistencies?

[2014-09-30 16:04] kriskowal commented on #118
Some of these cases are deliberate. Feel free to point out the cases that
are contentious and I’d be glad to explain each. At some point, I could use
some help shoring up the documentation.

On Mon, Sep 29, 2014 at 11:52 PM, Trevor Parscal notifications@github.com
wrote:

[2014-09-30 16:39] trevorparscal commented on #118
There are instances of Q.when( app, function ( response ) {} ) that make sense, but take HttpApps.Trap, where you reverse the order of request and response - what is going on there?

[2014-09-30 16:49] kriskowal commented on #118
That was an ergonomic decision. Traps usually only work with the response
and either return it or replace it. The request is not always useful for
traps, but provided in case it is needed.

On Tue, Sep 30, 2014 at 9:39 AM, Trevor Parscal notifications@github.com
wrote:

[2014-10-22 04:49] fineline commented on #105
+1, seems a bit redundant to have to depend on both. Can you clarify what you mean anton. When you npm install q-io it will bring in q sub-module regardless, I think?

[2014-10-22 05:05] anton-rudeshko commented on #105
No, npm will reuse app level q if it compatible.

For example:
Let `q-io@1.2.1` depend on `q@~1.0.1`. When you `npm install` an app with package.json as such:

[code]

then q-io will use q in your app `node_modules` dir and wouldn't have another one in `node_modules/q-io/node_modules`. It holds true only if you have compatible q version.

[2014-10-24 09:11] fineline commented on #105
OK thanks Anton, didn't know that.

[2014-10-28 22:52] nivthefox opened #120 "HTTP request fails with code 204"
Code 204 is not a failure condition, it is a success condition; however, q-io/http treats it as a failure, and even performs a 'reject' on the promise.

Please fix.

[2014-10-28 22:54] kriskowal commented on #120
Do you have time to suggest a pull request?

[2014-10-29 02:03] nivthefox commented on #120
Yeah, I'll put one together tonight.

[2014-11-17 03:33] #114 closed, assigned to nobody

[2014-11-17 03:46] #120 closed, assigned to nobody

[2014-11-17 03:48] kriskowal commented on #105
I’m opting not to introduce this change. Q and Q-IO are separate but interdependent. npm handles all of the cases gracefully. I believe consuming packages should be explicit about this dependency, especially to elevate the shared dependency to avoid duplication.

[2014-11-17 03:48] #105 closed, assigned to nobody

[2014-11-17 03:58] kriskowal commented on #74
See #124 for resolution.

[2014-11-17 05:44] anton-rudeshko commented on #105
We respect your choice, Kris. Thank you!

[2014-11-28 18:47] slawo opened #126 "Reader().map() fails to limit properly the number of parallel instances of a function."
When setting the limit to 1 the given function is executed twice in parallel:

Test case:

[code]

The resulting output:

[code]

q: 1.1.2
q-io: 2.0.6

[2014-11-28 19:09] slawo commented on #126
Unless my understanding of the function `.map(func, null, 1)` is wrong the resulting behavior should be only one instance of `func` being executed at a time.

Tried with q: 2.0.2 to the same result.

[2014-11-29 08:34] kriskowal commented on #126
Thank you!

[2015-01-05 21:54] thabti opened #130 "proxy requests"
Hi,

So our internal cloud allows external calls via a proxy server, how can I tell q-io to use environment variable of the proxy server host and port ?

[2015-01-06 09:32] Stuk commented on #130
Because Q-IO is just using `http.request` under the hood, you should be able to follow [this StoackOverflow answer](http://stackoverflow.com/a/6366629):

[code]

I haven't actually tried this, so let me know how it goes.

[2015-02-13 04:58] kriskowal commented on #130
`hostname + ":" + port = host`. You can use either hostname and port, or just host. To write a full-fledged HTTP proxy, you would parse these out of the received request.path and forward the domain relative path to the proxied server, but that may or may not be your intent.

[2015-02-13 04:58] #130 closed, assigned to nobody

[2015-03-09 15:42] bhamon opened #132 "join() doesn't support network shares"
The two following calls doesn't return the same value :

[code]

Thus, the following call fails with a ENOENT error :

[code]

[2015-03-18 03:43] boxxxie opened #136 "not able to do x-www-unencoded body"
tested an API with postman, and tried to emulate the successful call i could make with it.
set headers to `{"Content-Type": "application/x-www-form-urlencoded"}`
set body to `[string that worked with postman in x-www... mode]`
this is on https mode as well.

i can't get this type of request to work.

switched to request-promise lib and my request works fine using the `{form: }` option

[2015-03-18 04:28] boxxxie commented on #136
maybe i jumped the gun on this.
after looking at request-promise headers, i see that they added a content-length header.
i guess i was missing that, however it would be very nice if this was handled by q-http

[2015-03-18 13:08] arikon commented on #136
You could use such a http app:

[code]

[2015-03-18 14:14] boxxxie commented on #136
@arikon wow. thanks for your comment.
i think that's a lot of code for the tiny task i want to do (send a valid x-www-unencoded request via https).
i don't think i fully understand what an http-app is. i though that was used to build servers (express-like).

[2015-03-18 15:25] arikon commented on #136
@boxxxie It is.

[The docs](https://github.com/kriskowal/q-io#http-applications) for the HTTP Apps. It is quite a powerful and convenient concept.
But I agree that `HandleUrlEncodedRequests` app could be in `i-io/http-apps` by default.

[2015-03-18 15:26] Stuk commented on #136
This does indeed seem like a reasonable app to be included.

[2015-04-01 14:21] bhamon commented on #132
For information, I use the following snippet to correct this issue in the meantime:

[code]

[2015-04-13 01:08] kriskowal commented on #132
Let me know if there is anything I can do to enable you to resolve this issue. I’ve had conversations with @stuk about the eccentricities of my interpretation of path manipulation, which go back to working with @tlrobinson on Narwhal’s. I am open to an overhaul of this interface in the v2 branch, and would be happy to accept backward-compatible (and test-passing) changes on v1. I am open to bringi

[2015-04-17 21:03] gCurtisCT opened #137 "Crash on reading large objects"
I'm trying to read a 640mb file using `read()`, and it crashes.

[code]

Is there anything I can do to avoid this?

[2015-04-17 22:02] kriskowal commented on #137
You will probably need to appeal to a lower level API, or find a way to operate on your data as a stream instead of bringing it all into memory. There may be a memory leak inherent to Q-IO, so if you can get a heap dump and track down the objects, it might be helpful toward finding a fix.

I would be happy to enable you to fix Q-IO if you isolate the problem.

[2015-04-22 10:40] noppsen opened #138 "problems by copying / moving data-files with special characters within path-variable"
Hi there,
I got a string based path variable from a powershell (Win7) application which can´t be handle by the copyTree method correctly when special characters appears within this path variable. Is there any way to convert or escape the path string variable or something to deal with it?
Hope it´s not a silly issue
kind regards

[2015-04-22 11:34] wmertens commented on #138
It would help if you can provide some code to reproduce this issue...

On Wed, Apr 22, 2015 at 12:40 PM noppsen notifications@github.com wrote:

[2015-04-22 12:05] noppsen commented on #138
Yeah Sure - so I am not the author I am not realy familiar with the code.
My Issue is the method CopyTree() doesnt deal with the Path variable when some special characters like "Ä" or "²" appear in the file or folder names.

Here is some pseudo code

[code]

[2015-04-22 12:05] #138 closed, assigned to nobody

[2015-04-22 13:58] wmertens commented on #138
@noppsen did you mean to close this?

The only thing I can think of is that the stdout of the watcher doesn't read the files as utf-8...

[2015-04-22 14:13] noppsen commented on #138
Could be the point... Thank you very much so far!

so is it the point to change the powershell-watcher-Output or should I adapt the stdout-listening some how?

[2015-04-22 14:57] wmertens commented on #138
Not sure, you could start by outputting what you get as filenames from the
watcher.

On Wed, Apr 22, 2015 at 4:13 PM noppsen notifications@github.com wrote:

[2015-04-23 07:36] Tomalak opened #139 "HTTP.read resolves with buffer instead of string"
This

[code]

logs `<Buffer 3c 21 44 4f 43 54 59 50 45 20 68 74 ...`.

It _should_ log the contents of the page as a string, though. (The docs state _"returns a promise for the response body as a string"_.)

As a user of `.read()` I have no way of knowing the response charset, so there is no safe way of turning this buffer to string.

This conversion to string must take place inside `.read()`

[2015-04-23 10:09] noppsen commented on #138
Right - that worked!
I changed the transfer of the path varaible to a bytes-Array and retranslate this in nodes.js. Additionally to handle all possible Windows file- and fodlernames it was necessary to escape square brackets further more.

best regards and THX very much!

[2015-04-23 11:08] Tomalak commented on #139
Pull request proposed here

https://github.com/kriskowal/q-io/pull/140

[2015-04-23 13:44] wmertens commented on #138
Welcome :-)

On Thu, Apr 23, 2015, 12:09 PM noppsen notifications@github.com wrote:

[2015-04-28 06:28] bhamon commented on #132
It could be a good idea to reuse the NodeJS path module for path manipulation in your whole library. I'll  look for all the impacts that this solution brings when I have some free time and keep you in touch.

[2015-04-28 06:31] kriskowal commented on #132
@bhamon It may well be. That is on the table for q-io v2 even if it introduces backward incompatibility. The intent with q-io is that the file system object should host its own path manipulation methods with behavior according to the underlying file system, but that might not be in the cards. One thing that it does not yet take into account, that seldom anyone takes into account, is that Windows t

[2015-05-27 15:43] ghost opened #145 "q-io downloading or writing too much data in version 1.13"
**Problem**

Version 1.13 of q-io is either downloading, or writing, approximately double the data it should in the script at:  http://pastebin.com/C6Q2HP22

**Last working version**

1.12.x

**First Noticed**

Yesterday (was not working from Sat to Mon)

**More info**

The resulting jmeter-29.tgz file should be ~25MB, and should extract with a tar -xf ..., and it does so correctly on version 1.12

[2015-05-31 18:30] Stuk commented on #145
Looked into this and it's a result of https://github.com/kriskowal/q-io/pull/141.

The PR assumes that data without a content-type or charset is text/utf8 data, which is incorrect for binary data.

@Tomalak do you have time to look into this and fix? This is obviously a pretty major breaking issue.

[2015-05-31 20:08] kriskowal commented on #145
I will revert the change and publish patch versions if @Tomalak can’t address this today.

[2015-05-31 20:13] Tomalak commented on #145
@kriskowal I'm looking into this right now, give me a moment.

[2015-05-31 20:15] kriskowal commented on #145
I’ll be around to support around 4:00. Will probably revert if it’s not looking hopeful by 8:00 PST. We can revisit the feature if it’s tractable.

[2015-05-31 20:15] Tomalak commented on #145
@Stuk The point is, `.read()` is supposed to return a string, as per the API definition. If you don't want a string, just use `.request()`. (@kriskowal I realize it's a breaking change, but one towards the defined behavior. Not sure how best to progress)

[2015-05-31 20:18] kriskowal commented on #145
@Tomalak My opinion is that `read` and `request` have the same stance on encoding. The difference is only that `read` accumulates its input, whether buffer or string.

[2015-05-31 20:21] Stuk commented on #145
Yeah, the commented docs do say it returns a string, however I think we should follow the behaviour as it has been implemented.

Perhaps the solution involves a flag in the options object.

[2015-05-31 20:21] kriskowal commented on #145
I like the idea of express `{"charset": "auto"}` (for both read and request) if the user wishes to receive a string or stream of strings in the absence of an explicit charset. I do not like the idea of forcing the output to be a String in either request or read. I do like the idea of having the option of requesting a string or stream of strings in read and request with `{"charset": "auto"}` and re

[2015-05-31 20:22] kriskowal commented on #145
read returning a promise for string is a documentation bug. We do need to keep backward compat in v1. We can break it in v2, but opinions above apply to both.

[2015-05-31 20:23] Tomalak commented on #145
Forcing the request to string was purely on the basis of the API docs.

It probably would be best to roll back the change for now and determine a clean strategy if and how Content-Type handling is supposed to work.

I think it should be integrated into `request`, possibly with a MIME type whitelist for text conversion (`text/*` and a few `application` ones like `*/xml`, plus anything that has a `c

[2015-06-01 00:28] kriskowal commented on #145
Roger that. Thanks!

[2015-06-01 00:56] kriskowal commented on #145
I’ve reverted the commit. There is a new backward compatible patch.

Upon looking closer, I have recalled some forgotten intentions and now think I got the current behavior wrong.

I had forgotten about flags. fs.open() produces a stream of strings in UTF-8 by default. fs.read() should as a consequence produce a string from UTF-8 by default to be consistent. If you want a buffer or stream of buffe

[2015-06-01 00:56] #145 closed, assigned to nobody

[2015-06-01 03:23] kriskowal commented on #145
Also, my apologies to @Tomalak for not catching this problem in review.

[2015-06-01 16:13] Tomalak commented on #145
@kriskowal No worries, in the end it was my mistake, really.

HTTP has the strong advantage over filesystem streams that the intended type and encoding of the following byte stream is declarable _at all_. Filesystem streams are open for wild guesses or finger-crossing (in other words, using a convention like UTF-8 - but good luck reading a file that really is Windows-1252 without prior knowledge).

[2015-06-03 18:27] jonahbron commented on #8
@newtriks Thanks for that example.  As soon as I added the content-length, it worked :frowning:

[2015-07-20 20:45] c-geek opened #146 "Mock: fs.copy() is buggy"
Hi there! First, thanks a lot for your work. I'm a fan :-)

I just wanted to warn you that I had weird code behavior while using `fs.copy()` in mock mode: a copied file content suddently becomes empty at some point in my unit tests.

I am sorry I can't give you a clear & simple unit test right now, I just see it in my business test case.

I can tell you I have this since I do not have any issue wh

[2015-08-11 09:26] gausie opened #147 "removeTree() thinks it fails with ENOTEMPTY, but works on second try"
As said in the title, I get an Exception ENOTEMPTY when I run removeTree() on a directory for the first time, but if I run it again it works without issue.

[2015-08-12 16:35] kriskowal commented on #147
Patches welcome. Thank you for isolating.

[2015-10-05 21:22] nknapp opened #149 "`write()` resolves before content is written"
The following code-snippets seems not to work as expected in node 4.1:

[code]

In nodejs 0.10.38, this outputs the line `this is the file contents`, in node 4.1.0, I only get an empty line in the output. It seems like the promise is resolved before the contents is written. Removing the comment in front of the `.delay(1000)` causes the correct line to appear.

[2015-10-05 21:24] nknapp commented on #149
Using the `read()` function of `q-io/fs` also prints the correct line:

[code]

[2015-10-05 21:24] kriskowal commented on #149
Thanks. A PR would be most welcome.

[2015-10-05 21:33] nknapp commented on #149
Where is the `write()`-method defined? Shouldn't it be in `fs.js` somewhere?

[2015-10-05 21:37] kriskowal commented on #149
Methods of streams are in one of the stream modules, and in particular interest for these purposes, the Node bindings for streams. I don’t recall the specific module off-hand. I may be of more assistance after business hours.

[2015-10-24 23:29] scandox opened #151 "Bump version of collections to avoid conflict with ES6"
I ran into a hard to diagnose problem using `harmony` with node 4.2.1. In the end I figured out it was the version of `collections` being used by q-io, which was bundled with https://github.com/SLaks/Styliner

The native `find` function is overwritten by the one in collections, which appears to actually fulfill the function of `findIndex`. Anyway I updated collections to version 2.0.2 and nothing

[2015-10-26 04:13] kriskowal commented on #151
Please try q-io@2 from the v2 branch. It has the collections upgrade.

[2015-10-26 22:10] scandox commented on #151
Ok sorry didn't see that. I'll raise an issue with the Styliner repo and see if they can move to the v2 branch.

Thanks.

[2015-10-26 22:10] #151 closed, assigned to nobody

[2015-11-23 22:12] smolleyes opened #152 "filetree compatible with jstree"
hi

is it possible to get the listTree function compatible with yield and get a return like this (for exemple)

[{"text":"2015","id":"2015","children":[{"text":"CA","id":"/2015/CA","children":[{"text":"11","id":"/2015/CA/11","children":[{"text":"23","id":"/2015/CA/11/23","children":[{"text":"15CA1111","id":"/2015/CA/11/23/15CA1111","children":[{"text":"upload_5a817d88630a8e3cb6ea90a5aa4e3ea4","id"

[2015-12-01 16:12] gagern commented on #149
It isn't [`write`](https://github.com/kriskowal/q-io/blob/fa3915be3e898738c50995f9ccaf828889e5cadc/fs-common.js#L52-L88) which is broken, it's [`close`](https://github.com/kriskowal/q-io/blob/fa3915be3e898738c50995f9ccaf828889e5cadc/writer.js#L66-L94) which incorrectly assumes that we don't have a `finish` event, due to a [broken version comparison](https://github.com/kriskowal/q-io/pull/153).

[2015-12-01 18:55] #149 closed, assigned to nobody

[2015-12-29 17:34] eGavr opened #154 "`fs.copyTree` does not copy a large amount of files"
Hi!

I have dir `1` which contains more than 500 files (png, svg), I'm trying to copy them into dir `2` using method `copyTree`:

[code]

I've discovered that the above shown script copies only a part of files from dir `1` and finishes silently :(

[2016-01-03 00:37] kriskowal commented on #154
A PR with a fix and a test would be quite welcome. My apologies for lacking the time to investigate this personally.

[2016-01-13 15:57] djabraham commented on #147
I noticed this within a test module, when attempting to immediately delete a folder after creation, or very shortly thereafter. Perhaps a lock is pending removal, or perhaps the list of items being recursively removed did not include a recently added item.

By simply adding a timeout, the problem was resolved (for us at least).

[2016-01-15 13:04] arikon commented on #151
@kriskowal `q-io@2` depends on `q@2` which is still experimental. Am I right?

[2016-07-22 11:03] nknapp opened #156 "is v2 up to date?"
I've noticed that there have been many commits in v1 and v2 without any merging. Issues like #149 have only been resolved in v1. Is the v2-branch abandoned? Would it make sense to merge v1 into v2 to apply the remaining changes? Or are the differences so large that they cannot be merged?

I want to use v2 now, because of montagejs/collections#139

[2016-08-10 19:31] dogancelik commented on #156
Please merge

[2016-08-10 20:30] kriskowal commented on #156
A straight merge is not possible. v2 is substantially different. These patches need to be manually reproduced on v2 to land. PR’s are welcome. Sorry for the delay—I will try to grow the contributor base.

[2016-08-10 20:47] dogancelik opened #157 "[v2] Last written file is always empty"
I have a Promise chain like this:

[code]

`bye.json` is always empty, there is no data written.
If you switch places of _hello.json_ and _bye.json_, this time `hello.json` becomes empty.

q version: `^1.4.1`
q-io version: `kriskowal/q-io#v2`

[2016-08-10 22:19] dogancelik commented on #157
Here's a temporary solution using module `graceful-fs`:

[code]

[2016-08-17 15:24] nknapp commented on #156
I attempted a merge but there were many conflicts and I had the feeling that I was not able to resolve the conflicts as it would have been expected.

I worked around the problem by building an alternative library (`m-io`) with a reimplementation of the few functions that I need for my project, with no dependency to the `collections` library.

I don't like the idea of publishing duplicates to npm,

[2016-08-17 15:24] #156 closed, assigned to nobody

[2016-12-09 11:51] dignifiedquire opened #160 "Drop usage of collections, it breaks globals"
I landed here, because of a recursive dependency. The gist is that the mere requiring of the module `collections` randomly breaks code in unrelated modules because it modifies globals. It is documented that this breaks things like `crypto` from node core but there does not seem to be a fix coming: https://github.com/montagejs/collections/issues/162

[2016-12-09 11:51] dignifiedquire commented on #160
The specific issue is in this line: https://github.com/kriskowal/q-io/blob/v1/fs-mock.js#L7

[2016-12-14 11:36] zamb3zi commented on #160
This is a big problem for me as well. My specific issue is `collections/shim-array.js` assigning to `Array.prototype.toObject` which interferes with LoopBack.
This is a dealbreaker for using `q-io` in our project.
Who knows what other havoc collections will have on the rest of my app. Can we get away from it?

[2016-12-15 18:58] kahluagenie commented on #160
Just ran into an issue with `Array.prototype.find()` being overwritten by `collections/shim-array.js` as well.

[2016-12-15 19:02] kriskowal commented on #160
PR welcome that relieves the dependency on collections. q-io@v2 depends on q@v2 and collections@v2, which does not have shims, but migration will not be practical for many applications.

[2017-05-03 11:21] nite commented on #160
So - in reference to your last comment @kriskowal: 'q-io@v2 depends on q@v2 and collections@v2, which does not have shims' - why is q-io v2 not latest on npm?

[2017-05-04 21:24] hthetiot opened #162 "Fixing a Prototype Override Protection Bypass Vulnerability in qs"
- https://snyk.io/blog/high-severity-vulnerability-qs/
- https://snyk.io/test/npm/q-io

[2017-05-04 21:40] hthetiot commented on #162
Need to be release as 1.13.3.
This is merged on master.

[2017-05-04 21:45] hthetiot commented on #162
Tagged+CHANGELOG+package
- https://github.com/kriskowal/q-io/tree/v1.13.3

[2017-05-04 21:48] hthetiot commented on #162
Published on npm.
- https://www.npmjs.com/package/q-io

cc @kriskowal

[2017-05-04 21:52] #162 closed, assigned to kriskowal

[2017-12-07 06:55] hthetiot commented on #160
See https://github.com/montagejs/collections/issues/185#issuecomment-349879132 update

[2017-12-07 07:57] kriskowal commented on #160
@nite It’s become evident that v2 of Q, Q-IO, and Collections are never going to be "latest". It’s my experience that making breaking changes, even with care, is not really a service to the community, so I’ve backed away from all of these endeavors. Version ^1 is ink. I continue to stand by the first line of my last comment:

PR welcome to relieves the dependency on collections in the version 1 tr

[2017-12-07 07:59] kriskowal commented on #160
I should note that @stuk and I are in the process of upreving collections by publishing individual collections (sans shims) in the npm `@collections` organization, out of the https://github.com/kriskowal/collections "monorepo".

[2018-01-12 16:17] fdewaghe opened #164 "Connect Timeout setting"
Is there any way of setting a connect timeout as opposed to a socket timeout for an http request?

[2018-01-12 16:37] kriskowal commented on #164
It has been a long while since I’ve revisited this project, but its API is a straight retelling of the underlying Node.js API as of years ago. I’d welcome a PR if you need to thread more options to the underlying Node.js API.

[2018-05-15 10:16] henhal commented on #160
I spent quite some time not understanding how I could get -1 from an Array.find call, until I realized q-io had messed up the Array prototype by including a really old version of collections with out of date shims. For example, there is a bug in collections so that Array.find behaves like indexOf (!) on collections 0.2.0, and there is also no check for whether the prototype already contains the ad

[2018-07-11 03:02] hthetiot commented on #160
We fixed couple of issue in collections v5.1.3

https://github.com/montagejs/collections/blob/master/CHANGES.md#v513
https://github.com/montagejs/collections/issues/185

[2018-07-11 03:03] hthetiot commented on #160
ACK

[2018-07-11 03:09] hthetiot commented on #160
Always funny to see a group complain and another making PR to fix the problem.
Noting also the one that talk the much are not the one that code that much.

[2018-07-11 03:30] hthetiot commented on #146
Should be fixed in 1.13.3 @c-geek feel free to re-open otherwise.
- https://github.com/kriskowal/q-io/pull/161

[2018-07-11 03:30] #146 closed, assigned to nobody

[2018-07-11 03:31] hthetiot commented on #160
Example of person that made PR to remove collections:
- https://github.com/kriskowal/q-io/pull/131

[2018-07-11 03:41] hthetiot commented on #160
Rebased
- https://github.com/kriskowal/q-io/pull/168/

[2018-07-11 05:54] #74 closed, assigned to kriskowal

[2018-07-11 16:45] #160 closed, assigned to hthetiot

[2018-07-11 16:46] hthetiot commented on #160
Merged #168 that remove collections in favor of es6-set, I will release today

[2018-07-11 18:09] hthetiot commented on #139
Closed by revert I think see #145

[2018-07-11 18:09] #139 closed, assigned to nobody

[2018-07-11 18:10] hthetiot commented on #126
Could be related to collections, we removed it